* {
    margin: 0;
    padding: 0;
}
aside {
    float: right;
    height: calc(100vh - 200px);
    width: 20%;
    text-align: center;
    background: rgb(212, 190, 64);
}
header {
    height: 80px;
    width: 100%;
    background:rgb(216, 218, 118);
    line-height: 80px;
    text-align:center;
    font-size: 35px;
    color: rgb(35, 65, 47);
}
main {
    display: inline-block;
    background: #eef1b9;
    text-align: center;
    width: 80%;
    height: calc(100vh - 200px);
}
h2 {
    margin: 10px;
}
.content {
    color: rgb(4, 70, 70);
    font-size: 35px;
}
.author {
    font-style: italic;
    font-weight: bold;
}
footer {
    height: 120px;
    width: 100%;
    background: rgb(43, 42, 29);
    color: wheat;
    line-height: 120px;
    text-align: center;
    font-size: 40px;
}